<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Automation Test Suite">
    <test name="UI Test Case">
        <classes>
            <class name="com.app.weatherreportcomparator.integration.TestUi"></class>
        </classes>
    </test>
    <test name="API Test Case">
        <classes>
            <class name="com.app.weatherreportcomparator.integration.TestApi"></class>
        </classes>
    </test>
    <test name="Comparator Test Case">
        <classes>
            <class name="com.app.weatherreportcomparator.integration.TestComparator"></class>
        </classes>
    </test>

</suite>